In [3]:
print("Hello world")

Hello world

In [4]:
## print multiple statements:
print("Hello", "world", "from", "Python")
print("Hello" + " " + "world" + " " + "from" + " " + "Python")

Hello world from Python
Hello world from Python

In [5]:
print(f"hello {'world'} from {'Python'}")

hello world from Python

## Variables, Data types and user input

In [6]:
fruit_name= "apple"
veg_name= "carrot"

print("I like " + fruit_name + " and " + veg_name)

I like apple and carrot

In [8]:
prime_number= 5 # assigning variables

print("My favorite prime number is " + str(prime_number))

print(f"My favorite prime number is {prime_number}")

My favorite prime number is 5
My favorite prime number is 5

In [10]:
print("I am tring to concatenate string with integer value " + str(5))

I am tring to concatenate string with integer value 5

In [11]:
# Each varaibles belongs to certain Data types
# Common data types in Python:
# 1. String
# 2. Integer
# 3. Float
# 4. Boolean
# 5. List
# 6. Tuple
# 7. Dictionary
# 8. Set
# 9. NoneType
# You can get the data type of a variable using type() function
name= "Alice"
age= 30
height= 5.6
is_student= False

In [13]:
print(type(name))
print(type(age))
print(type(height))
print(type(is_student))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

#### Taking input from user and converting its types

In [14]:
user_name= input("Enter your name: ")
user_age= input("Enter your age: ")
user_height= input("Enter your height: ")
user_is_student= input("Are you a student (True/False): ")

In [15]:
user_name

'yukesh'

In [16]:
print(user_age)
print(type(user_age))
print(user_height)
print(type(user_height))
print(user_is_student)
print(type(user_is_student))

25
<class 'str'>
5.5
<class 'str'>
tue
<class 'str'>

In [17]:
# input type conversion
print("user age without type conversion", user_age, type(user_age))
print("user age with type conversion to int", int(user_age), type(int(user_age)))

user age without type conversion 25 <class 'str'>
user age with type conversion to int 25 <class 'int'>

In [19]:
# int(user_name)

#### Arithmetic operators

In [20]:
a= 14
b= 3
print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)
print("Floor Division:", a // b)

Addition: 17
Subtraction: 11
Multiplication: 42
Division: 4.666666666666667
Floor Division: 4

In [21]:
a+b

17

In [22]:
a-b

11

In [23]:
a*b

42

In [24]:
a/b

4.666666666666667

In [25]:
a//b

4

#### Comparision operators

In [26]:
a, b

(14, 3)

In [27]:
a==b

False

In [28]:
a>b

True

In [29]:
b>a

False

In [30]:
a!=b

True

In [31]:
# Based on the comparision and arithmetic operations, we can make a decision making programs using if, elif, else statements
if a>b:
    print(f"{a} is greater than {b}")
elif b>a:
    print(f"{b} is greater than {a}")
else:
    print(f"{a} is equal to {b}")

14 is greater than 3

In [34]:
student_input_marks= input("Enter your marks: ")
student_marks= int(student_input_marks)

if (student_marks)>= 90:
    print("Grade A")
elif (student_marks)>= 80:
    print("Grade B")
else:
    print("Grade C")

Grade A

#### Loops and iterations

In [35]:
# for loops
# while loops
# loop control statements: break, continue, pass

# why do we need loops?
# to iterate over a block of code multiple times until a certain condition is met

In [42]:
# print(1)
# print(2)
# print(3)

# another way is to use loops
# for i in range(1, 4):
#     print(i)

# here range function generates a sequence of numbers from 1 to 3 (4 is excluded)
# other parameters of range function are start, stop, step
for i in range(0, 10, 2):
    print(i)

0
2
4
6
8

In [43]:
# print even numbers from 1 to 20
for number in range(1,21):
    if number%2==0:
        print(number)

2
4
6
8
10
12
14
16
18
20

In [44]:
# when to use for vs while loops
# for loops: when the number of iterations is known
# while loops: when the number of iterations is not known and depends on a condition
count= 0
while count<5:
    print("Count is:", count)
    count+=1

Count is: 0
Count is: 1
Count is: 2
Count is: 3
Count is: 4

In [47]:
# building a secret guessing game
secret_number= 7
user_guess= int(input("Guess the secret number (between 1 and 10): "))
if user_guess== secret_number:
    print("Congratulations! You guessed the secret number.")
else:
    print("Sorry, wrong guess. Try again!")

Congratulations! You guessed the secret number.