##### Variables and Data types

In [ ]:
print("Hello world")

#### to create virtual env in python:

1. python -m venv env_name
2. .env_name\Scripts\activate.bat

In [1]:
print("Hello, world!")

Hello, world!

In [3]:
#int, float, str, bool

a= 5
b= 6
sum= a+b
print("the sum is :", sum)

the sum is : 11

In [4]:
print(f"the sum of {a} and {b} is {sum}")

the sum of 5 and 6 is 11

In [5]:
# check python version
import sys
print(sys.version)

3.12.3 (main, Jan  8 2026, 11:30:50) [GCC 13.3.0]

In [6]:
print("1st item"); print("2nd item"); print("3rd item")

1st item
2nd item
3rd item

In [18]:
if 5>2:
    print("5 is greater than 2")

5 is greater than 2

In [21]:
### This is a comment !!!
"""Docstring information"""

'Docstring information'

In [22]:
# variables and data types

a= 5
b= 3.5
name= "xyz"
friuts= "appple"

In [24]:
print(type(a))
print(type(b))
print(type(name))
print(type(friuts))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

#### Rules for naming variables in Python

In [ ]:
# a variable cannot start with number
# 2name= "abc"  # invalid variable
# name2 is not equal to Name2 # case sensitive
# Variables names cannot be python keywords
# variable name can start with any letter or the underscore character

SyntaxError: invalid decimal literal (1308802931.py, line 2)

In [29]:
# my var= 0  # invalid variable
_myvar= 0   # valid variable

In [ ]:
# Camel Case, Pascal Case, Snake Case

myVariableName= "John"      # Camel Case
MyVariableName= "John"      # Pascal Case
my_variable_name= "John"    # Snake Case

In [30]:
# assign multole values to multiple variables
x, y, z= "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [31]:
x= y= z= "This is common value"

In [32]:
y

'This is common value'

In [1]:

def myfunc():
    x= "testvalue"

    print("Inside function")
    print("Global x value is:", x)

myfunc()

Inside function
Global x value is: testvalue

In [2]:
print(x)

NameError: name 'x' is not defined

In [ ]:
# # built in python data types

# text type: str
# numeric types: int, float, complex
# sequence types: list, tuple, range
# mapping type: dict
# set types: set, frozenset
# boolean type: bool
# binary types: bytes, bytearray, memoryview

In [8]:
# setting different data types to variables

x= list(("apple", "banana", "cherry"))  # list
# y= tuple(("apple", "banana", "cherry"))  # tuple
# z= range(6)
x

x= True
type(x)

bool

In [ ]:
x= bytearray(5) # this will create a bytearray of size 5

In [10]:
x

bytearray(b'\x00\x00\x00\x00\x00')

In [17]:
## type casting

user_input= input("Enter user's age")
print("You entered:", user_input)
print(type(user_input))

user_input= int(user_input)
print(type(user_input))
if user_input> 5:
    print("You are eligible")

You entered: 4
<class 'str'>
<class 'int'>

In [18]:
# We can use quotes inside quotes
print(" He is called a 'programmer' ")

 He is called a 'programmer'

In [19]:
# assign some string to a variable and print it
text= "Hello, welcome to Hackademia!"
print(text)

Hello, welcome to Hackademia!

In [21]:
# print multiline strings
print("""COntents for multiline string: 
      Line 1
      Line 2
      Line 3
      """)

COntents for multiline string:
      Line 1
      Line 2
      Line 3

In [22]:
# operations on strings

# slicing
b= "Hello, welcome to Hackademia!"

b[0]

'H'

In [29]:
# b[4:11] # slicing from index 4 to 10

b[5:] # slicing from index 5 to end

b[:5] # slicing from start to index 4

b[::-1]  # reverse the string

b[:] # entire string

b[:10] # first 10 characters

'Hello, wel'

In [37]:
b[:-4] # all except last character

b= "hello world"

# slice to get llo using negative indexing
b[-9:-6]


b[:-5] # this will give all except last 5 characters

'hello '

In [41]:
# modifying the strings case

all_caps= b.upper()
print(all_caps)
all_lower= b.lower()
print(all_lower)

HELLO WORLD
hello world

In [49]:
# spliiting strings
a= "Hello .students ,sorry for the screen, freezing problem!"
new_spllited= a.split(",")
print(new_spllited)
print(type(new_spllited))

['Hello .students ', 'sorry for the screen', ' freezing problem!']
<class 'list'>

In [51]:
len(a.split("."))

2

In [55]:
# concatenate strings

a= "computer"
b= "laptop"
c= a+ " "+ b
print(c)

favorite_number= 7
# concatenating string and integer will raise an error
print("My favorite number is " + str(favorite_number))  # will raise error

computer laptop
My favorite number is 7

In [42]:
# Whitespace removal
a= "   hello world   "
print(a.strip())  # removes leading and trailing whitespace

hello world

In [57]:
# built in methods for strings

#capitalized()
# casefold()
# spilt()
# strip()
# using strip() method